{% block header %}
  <h1>{% block title %}Check out apartments that others have expressed an interest in{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if ppl is defined %}
  <table style="border-spacing: 10px;">
    <tr>  
      <td>Username</td>
      <td>Unit Rent ID</td>
      <td>Roommate Count</td>
      <td>Move-In Date</td>
      <td>Join</td>
    </tr>
    {% for person in ppl %}  
      <tr>  
        <td><a href="/initiator?contact={{ person['username'] }}">{{ person['username'] }}</a></td>
        <td>{{ person['UnitRentID'] }}</td>
        <td>{{ person['RoommateCnt'] }}</td>
        <td>{{ person['MoveInDate'] }}</td>
        <td>Join</td>
      </tr>
    {% endfor %} 
  </table>
{% endif %}
{% endblock %}